body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
    margin: 0px;
}

.hero{
    background-image: url(../imagens/bg-3.jpg);
    height: 500px;
    background-position: right center;
    background-size: cover;
    border-top: 1px solid transparent;
}
.hero nav li{
    display: inline-block;
    list-style: none;
    border: 1px solid white;
    margin: 5px;
}
.hero nav a{
    display: block;
    background-color: rgba(169, 165, 165, 0.3);
    padding: 15px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 2px;
}
.hero nav a:hover{
    background-color: rgba(169, 165, 165, 1);
}

.hero nav ul{
    text-align: right;
    margin-top: 25px;
    margin-right: 50px;
}
.hero-content{
    text-align: center;
    color: aliceblue;
    margin: 200px;
    
}
.hero-content h1{
    text-transform: uppercase;
    font-size: 48px;
    text-shadow: 3px 3px 2px #333;
}
.hero-content p{
    background-color: rgba(0,0,0, .8);
    display: inline-block;
    padding: 15px;
    border-bottom: 2px solid white;
}
main{
    width: 80%;
    margin: auto;
}
.content-section{
    background-color: aliceblue;
    padding: 10px;
    margin-top: 15px;
    overflow: auto;
}
.card {
    width: 32%;
    float: left;
    box-sizing: border-box;
}
.card img{
    width: 100%;
    display: block;
}
.card-01, .card-02{
    margin-right: 2%;
}
.card p{
    background-color: rgb(74, 70, 70);
    color: white;
    margin: 0;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.content-section h2{
    background-color: #ccc;
    margin-top: 0px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 3px solid rgba(169, 165, 165, 0.902);
}
footer{
    text-align: center;
    color: aliceblue;
    background-color: rgba(52, 51, 51, 0.245);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    text-shadow: 3px 3px 2px #333;
}
    